.container-fluid
	.row
		.col-md-12.text-center
			h1 Willkommen
	.row
		h5 Alle Zutaten
		p
			span(ng-repeat="item in ingredients") DE: {{item.name.de}} / EN: {{item.name.en}} |\/|  
				i.fa.fa-times(ng-click="deleteIngredient(item)")
	.row
		.col-sm-12
			form
				.form-group
					input.form-control(ng-model="ingredient.name.de" Placeholder='DE Zutat')
				.form-group
					input.form-control(ng-model="ingredient.name.en" Placeholder='EN Zutat')
				.form-group
					button.btn.btn-default(ng-click="addIngredient()") Hinzufügen
	.row
		.col-sm-12
			h4 Alle Tage
		.col-sm-12(ng-repeat="item in days")
			p Am Tag {{item.day | date : 'dd.MM.yyyy'}} gibt es: 
				div(ng-repeat="item in item.meals")
					b {{item.name.de}}
					i.fa.fa-times(ng-click="deleteDay(item)")
					p Zutaten: {{}} 
						span(ng-repeat="item in item.specs") {{item.val}},
				//- p {{item.description.de}}
				//- p
				//- 	span(ng-repeat="item in item.price") {{item.de.name}}: {{item.de.price}}
				//- 		br
				//- p Zutaten: 
				//- 	span(ng-repeat="item in item.ingredients") {{item.de}},
	.row
		.col-sm-12
			h5 Neuer Tag:
			form
				.form-group
					input.form-control(ng-model="day.day" Placeholder="Like yyyy,mm,dd")
				.form-group
					input.form-control(ng-model="day.number" Placeholder="Number day")
				//- .form-group
					input.form-control(ng-model="day.picture" Placeholder="picture link")
				.form-group
					select.form-control(ng-model="day.id" ng-options="item._id as item.name.de for item in meals" Placeholder="Like dd.mm.yyyy")
				button.btn.btn-default(ng-click="addDay()") Tag hinzufügen

	.row
		.col-sm-4(ng-repeat="item in meals")
			p
				b {{item.name.de}}
				br
				p {{item.description.de}}
				p
					span(ng-repeat="item in item.price") {{item.de.name}}: {{item.de.price}}
						br
				p Zutaten: 
					span(ng-repeat="item in item.specs") {{item.val}},

		.col-sm-12
			h4.text-center Mahlzeiten
			.row
				.col-sm-12
					h5 Neue Mahlzeit
					form
						.row
							.col-sm-12
								.form-group
									input.form-control(ng-model="meal.picture" Placeholder="picture link")
						.row
							.col-sm-6
								.form-group
									input.form-control(ng-model="meal.name.de" Placeholder="DE Name")
							.col-sm-6
								.form-group
									input.form-control(ng-model="meal.name.en" Placeholder="EN Name")
						.row
							.col-sm-6
								.form-group
									input.form-control(ng-model="meal.description.de" Placeholder="DE description")
							.col-sm-6
								.form-group
									input.form-control(ng-model="meal.description.en" Placeholder="EN description")
						.row
							.col-sm-12
								.row
									.col-sm-4(ng-repeat="item in meal.price")
										p {{item}}
											i.fa.fa-times(ng-click="meal.price.splice($index,1)")
							.col-sm-12
								h6 Preis hinzufügen
						.row
							.col-sm-6
								.form-group
									input.form-control(ng-model="price.de.name" Placeholder="DE name")
							.col-sm-6
								.form-group
									input.form-control(ng-model="price.de.price" Placeholder="DE price")
						.row
							.col-sm-6
								.form-group
									input.form-control(ng-model="price.en.name" Placeholder="EN name")
							.col-sm-6
								.form-group
									input.form-control(ng-model="price.en.price" Placeholder="EN price")
						.row
							.col-sm-6
								button.btn.btn-default(ng-click="meal.price.push(price);price={};") Preis hinzufügen
						.row
							h6 Zutaten hinzugefügt:
							p
								span(style="padding:2px;margin-right:4px" ng-repeat="item in meal.ingredients | filter: isInside") {{item.de}}
									i.fa.fa-minus(ng-click="meal.ingredients.splice($index,1)") 
							h6 Zutaten offen:
							p
								span(style="padding:2px;margin-right:4px" ng-repeat="item in ingredients | filter: isInsideIngredients") {{item.name.de}}
									i.fa.fa-plus(ng-click="meal.ingredients.push(item.name)") 
						.row
							h6 Zusätze hinzugefügt:
							p
								span(style="padding:2px;margin-right:4px" ng-repeat="item in meal.specs") {{item.de}}
									i.fa.fa-minus(ng-click="meal.specs.splice($index,1)") 
							h6 Zusätze offen:
							p
								span(style="padding:2px;margin-right:4px" ng-repeat="item in specs | filter: isInsideSpec") {{item.de}}
									i.fa.fa-plus(ng-click="meal.specs.push(item)") 
						.row
							.col-sm-12
								button.btn.btn-default(ng-click="addMeal()") Meal hinzufügen
//- .nopadding.prim-color.def-font-color.top-bg.padding50bottom
//- 	.container.center
//- 		.row
//- 			.col-md-12.margin50bottom
//- 				h3
//- 					b Login
//- 				//- button.btn.btn-default.btn-large(ng-click="") 
//- 					i.fa.fa-plus  
//- 					span  Mitarbeiter
//- 				.row.center
//- 					i.fa.fa-sign-in.fa-5x.center
//- 				.col-md-6.col-lg-4.col-xs-10.col-sm-6.col-md-offset-2.col-lg-offset-4
//- 					form
//- 						fieldset
//- 							.input-group.margin10bottom
//- 								.input-group-addon
//- 									i.fa @
//- 								input.form-control(ng-model="email")
//- 							.input-group.margin10bottom
//- 								.input-group-addon
//- 									i.fa.fa-lock
//- 								input.form-control(ng-model="password", type="password")
//- 							button.btn.btn-block.btn-default.margin10bottom(ng-click="login(email,password)") Login
//- 					a.def-font-color(href="signup") Noch nicht registriert?


